.container {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex: 1;
}

.sidebarContainer {
  background-color: blue;
  min-width: 25%;
  min-height: 100%;
}

.contentContainer {
  background-color: green;
  width: 75%;
  height: 100%;
}
