.container {
  max-width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
}

.sidebarContainer {
  background-color: transparent;
  box-shadow: 3px 2px 5px rgb(65, 62, 62);
  min-width: 220px;
  max-width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -4%;
  border-radius: 25px;
  margin-top: 0.895%;
  margin-bottom: 0.895%;
  z-index: 9999;
}

.contentContainer {
  background-color: #f5f7fb;
  box-shadow: 15px 25px 50px rgb(177, 177, 177);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  max-width: 80vw;
  margin-top: 1%;
  margin-bottom: 1%;
}
