.container {
  background-color: white;
  display: flex;
  width: 400px;
  height: 250px;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.topSection {
}

.contentSection {
}

.bottomSection {
}
