.dashboard {
  margin-left: 7%;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background-color: white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  min-width: 60vw;
}

.top {
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: red;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 2;
  border-top-right-radius: 25px;
}

.middle {
  display: flex;
  flex: 3.5;
  background-color: blue;
}

.bottom {
  display: flex;
  flex: 1;
  background-color: orange;
  border-bottom-right-radius: 25px;
}
